footer {
    padding: 1rem 0;
    
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 50px;

    text-align: center;

    background-color: #079165;
}

span{
    font-size: 4vh;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
}
